@use "base";

.logo {
	margin: 1rem;
	font-size: xx-large;
}

.heroContent {
	display: "flex";
	flex-direction: "column";
	background-color: "#ca6d6d";
	padding: "2rem";
	border-radius: "2rem";
	color: "white";
}

.bubble {
  background-color: base.$paleRed;
}